<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="imeta_y1_ros2_control" params="
               name
               use_mock_hardware:=false
               mock_sensor_commands:=false
               sim_gazebo_classic:=false
               sim_gazebo:=false
               sim_mujoco:=false
               sim_isaac_sim:=false
               simulation_controllers"
               >

    <xacro:if value="${use_mock_hardware}">
      <xacro:include filename="imeta_y1/include/mock.ros2_control.xacro"/>
    </xacro:if>

    <xacro:if value="${sim_gazebo_classic}">
      <xacro:include filename="imeta_y1/include/gazebo_classic.ros2_control.xacro"/>
    </xacro:if>

    <xacro:if value="${sim_mujoco}">
      <xacro:include filename="imeta_y1/include/mujoco.ros2_control.xacro"/>
    </xacro:if>

    <xacro:if value="${sim_gazebo}">
      <xacro:include filename="imeta_y1/include/gazebo.ros2_control.xacro"/>
    </xacro:if>

    <xacro:if value="${sim_isaac_sim}">
      <xacro:include filename="imeta_y1/include/isaac_sim.ros2_control.xacro"/>
    </xacro:if>

    <xacro:unless value="${use_mock_hardware or sim_gazebo_classic or sim_gazebo or sim_isaac_sim}">
      <xacro:include filename="imeta_y1/include/real_world.ros2_control.xacro"/>
    </xacro:unless> 

  </xacro:macro>
</robot>
