<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imeta_y1">

  <!-- Declare commonly used launch-time args with safe defaults -->
  <xacro:arg name="use_mock_hardware" default="false"/>
  <xacro:arg name="mock_sensor_commands" default="false"/>
  <xacro:arg name="sim_gazebo_classic" default="false"/>
  <xacro:arg name="sim_gazebo" default="false"/>
  <xacro:arg name="sim_isaac_sim" default="false"/>
  <!-- simulation_controllers may be provided by launch files; default to empty string -->
  <xacro:arg name="simulation_controllers" default=""/>

  <!-- Include the macro -->
  <xacro:include filename="$(find imeta_y1_description)/urdf/imeta_y1/imeta_y1_macro.urdf.xacro"/>
  <xacro:include filename="$(find imeta_y1_description)/urdf/imeta_y1/imeta_y1_macro.ros2_control.xacro"/>

  <!-- Define base_link as root reference frame -->
  <link name="base_link">
    <visual>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
      <material name="transparent">
        <color rgba="0 0 0 0"/>
      </material>
    </visual>
  </link>

  <!-- Instantiate the imeta_y1 arm -->
  <xacro:imeta_y1 name="imeta_y1" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:imeta_y1>

  <xacro:imeta_y1_ros2_control
    name="imeta_y1_ros2_control"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    sim_gazebo_classic="$(arg sim_gazebo_classic)"
    sim_gazebo="$(arg sim_gazebo)"
    sim_isaac_sim="$(arg sim_isaac_sim)"
    simulation_controllers="$(arg simulation_controllers)"/>

</robot>
