<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <ros2_control name="${name}" type="system">
    <hardware>
          <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
          <param name="joint_commands_topic">/${name}/isaac_joint_commands</param>
          <param name="joint_states_topic">/isaac_joint_states</param>
          <param name="trigger_joint_command_threshold">-1.0</param>
    </hardware>

    <joint name="joint1">
        <command_interface name="position"/>
        <state_interface name="position">
        <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    <joint name="joint2">
        <command_interface name="position"/>
        <state_interface name="position">
        <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    <joint name="joint3">
        <command_interface name="position"/>
        <state_interface name="position">
        <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    <joint name="joint4">
        <command_interface name="position"/>
        <state_interface name="position">
        <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    <joint name="joint5">
        <command_interface name="position"/>
        <state_interface name="position">
        <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    <joint name="joint6">
        <command_interface name="position"/>
        <state_interface name="position">
        <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>

  </ros2_control>
</robot>